<div class="row">
    <div data-drop="true" ng-model="column.notes" jqyoui-droppable="{onDrop: 'dropCallback(column)'}" data-drop="true"
         ng-repeat="column in columns" class="col s12 m4">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    {{ column.name }}
                </div>
                <div class="row">
                    <div ng-repeat="note in column.notes"
                         jqyoui-draggable="{index: {{ $index }}, onStart: 'startCallback(note, $index, column)'}"
                         ng-model="column.notes" data-drag="true" class="col s12 m12">
                        <div class="card-panel teal">
                            <span class="white-text">
                                {{ note.text }}
                            </span>
                            <a ng-click="archiveNote(note, column)" class="waves-effect waves-light btn red">
                                <i class="material-icons">remove</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <form ng-submit="addNote(column)">
                <div class="card-action teal lighten-5">
                    Add note
                    <input ng-model="column.newNote.text" type="text" required>
                    <input type="submit" class="waves-effect waves-light btn" value="Add">
                </div>
                <div class="card-action">
                    <a ng-click="archiveColumn(column)" class="waves-effect waves-light btn red">
                        <i class="material-icons">remove</i>
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <form ng-submit="addColumn()">
                <div class="card-content">
                    <div class="card-title">Add column</div>
                    <input ng-model="newColumn.name" type="text" required>
                </div>
                <div class="card-action">
                    <input type="submit" class="waves-effect waves-light btn" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>